# Superstore

In [14]:
import numpy as np
import pandas as pd
import os

In [20]:
data = pd.read_csv('Superstore.csv')
data

,Category,City,Container,Customer ID,Customer Name,Customer Segment,Department,Discount,Item ID,Item,...,Product Base Margin,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price
0,"Scissors, Rulers and Trimmers",Washington,Small Pack,2867,Dana Teague,Corporate,Office Supplies,0.01,11237,Kleencut® Forged Office Shears by Acme United ...,...,0.55,-5,East,2,7,2/19/2020,Regular Air,3,District of Columbia,2
1,Storage & Organization,Oxford,Medium Box,1821,Vanessa Boyer,Consumer,Office Supplies,0.06,10730,Eldon Simplefile® Box Office®,...,0.57,-37,East,27,312,8/7/2018,Regular Air,6,Massachusetts,12
2,Telephones and Communication,Irving,Small Box,1402,Wesley Tate,Corporate,Technology,0.08,10070,I888 World Phone,...,0.60,258,Central,52,2635,3/17/2020,Regular Air,8,Texas,156
3,Paper,Irving,Small Box,1402,Wesley Tate,Corporate,Office Supplies,0.10,11193,Xerox 1997,...,0.37,-292,Central,53,281,3/17/2020,Regular Air,10,Texas,6
4,Bookcases,Oxford,Jumbo Box,2747,Brian Grady,Corporate,Furniture,0.02,10030,O'Sullivan 2-Shelf Heavy-Duty Bookcases,...,0.69,-1348,East,62,2983,9/19/2018,Delivery Truck,54,Massachusetts,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,Paper,El Paso,Small Box,1131,Benjamin Strauss,Corporate,Office Supplies,0.05,10851,Xerox 216,...,0.37,-121,Central,19800,68,7/17/2019,Express Air,8,Texas,6
9422,Office Furnishings,Danville,Small Pack,2000,Dale Yu,Corporate,Furniture,0.08,11241,Nu-Dell Executive Frame,...,0.48,185,South,19801,226,5/2/2018,Regular Air,5,Virginia,13
9423,Office Machines,Danville,Jumbo Drum,2000,Dale Yu,Corporate,Technology,0.08,11231,Okidata ML184 Turbo Dot Matrix Printers,...,0.56,-98,South,19802,1593,5/3/2018,Delivery Truck,27,Virginia,306
9424,Computer Peripherals,Owosso,Small Box,870,Hugh Brock,Home Office,Technology,0.00,11239,Belkin ErgoBoard™ Keyboard,...,0.64,-64,Central,19803,134,10/29/2018,Regular Air,7,Michigan,31
9425,Bookcases,Reno,Jumbo Box,871,Sandy Ellington,Home Office,Furniture,0.04,10019,O'Sullivan 4-Shelf Bookcase in Odessa Pine,...,0.68,-827,West,19804,1701,10/29/2018,Delivery Truck,57,Nevada,121

In [21]:
data.shape

(9426, 26)

In [22]:
types=np.unique(data.dtypes)
print(types)

[dtype('int64') dtype('float64') dtype('O')]

In [35]:
# Phân loại cột theo kiểu định lượng và định tính
quantitative = []  # Cột định lượng (numerical)
qualitative = []   # Cột định tính (categorical)

for column in data.columns:
    if pd.api.types.is_object_dtype(data[column]):
        quantitative.append(column)
    else:
        qualitative.append(column)

print("\nCác cột định lượng :", quantitative)
print("Các cột định tính :", qualitative)

Các cột định lượng : ['Category', 'City', 'Container', 'Customer Name', 'Customer Segment', 'Department', 'Item', 'Order Date', 'Order Priority', 'Region', 'Ship Date', 'Ship Mode', 'State']
Các cột định tính : ['Customer ID', 'Discount', 'Item ID', 'Number of Records', 'Order ID', 'Order Quantity', 'Postal Code', 'Product Base Margin', 'Profit', 'Row ID', 'Sales', 'Shipping Cost', 'Unit Price']

In [27]:
for i in range(len(types)):
    if (i ==0):
        print(' int64')
    elif(i == 1 ):
        print('float64')
    elif(i==2):
        print('object')
    
    for col in data.columns:
        if data[col].dtypes==types[i]:
            print("-------", col)

 int64
------- Customer ID
------- Item ID
------- Number of Records
------- Order ID
------- Order Quantity
------- Postal Code
------- Profit
------- Row ID
------- Sales
------- Shipping Cost
------- Unit Price
float64
------- Discount
------- Product Base Margin
object
------- Category
------- City
------- Container
------- Customer Name
------- Customer Segment
------- Department
------- Item
------- Order Date
------- Order Priority
------- Region
------- Ship Date
------- Ship Mode
------- State

In [23]:
#  In các cột có dữ liệu bị mất
missing_columns = data.columns[data.isnull().any()]
print("\nCác cột có dữ liệu bị mất:")
print(missing_columns)

#  Xử lý dữ liệu bị mất theo các phương pháp khác nhau

#  Loại bỏ các hàng có giá trị bị thiếu
data_dropna = data.dropna()
print("\nKích thước dữ liệu sau khi loại bỏ các hàng có giá trị bị thiếu:", data_dropna.shape)

# Thay thế giá trị bị thiếu bằng giá trị trung bình (nếu là kiểu số)
data_fillna_mean = data.copy()
for col in missing_columns:
    if data[col].dtype in ['float64', 'int64']:
        data_fillna_mean[col] = data[col].fillna(data[col].mean())
print("\nKích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị trung bình:", data_fillna_mean.shape)

#  Thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất (mode)
data_fillna_mode = data.copy()
for col in missing_columns:
    data_fillna_mode[col] = data[col].fillna(data[col].mode()[0])
print("\nKích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất:", data_fillna_mode.shape)

Các cột có dữ liệu bị mất:
Index([], dtype='object')

Kích thước dữ liệu sau khi loại bỏ các hàng có giá trị bị thiếu: (9426, 26)

Kích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị trung bình: (9426, 26)

Kích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất: (9426, 26)

# Sale

In [25]:
import numpy as np
import pandas as pd
import os

In [30]:
data1 = pd.read_csv('sales_data_sample.csv', encoding = 'latin1')
data1

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [31]:
data1.shape

(2823, 25)

In [32]:
types1=np.unique(data.dtypes)
print(types1)

[dtype('int64') dtype('float64') dtype('O')]

In [39]:
# Phân loại cột theo kiểu định lượng và định tính
quantitative1 = []  # Cột định lượng (numerical)
qualitative1 = []   # Cột định tính (categorical)

for column in data1.columns:
    if pd.api.types.is_object_dtype(data1[column]):
        quantitative.append(column)
    else:
        qualitative.append(column)

print("\nCác cột định lượng :", quantitative1)
print("Các cột định tính :", qualitative1)

Các cột định lượng : []
Các cột định tính : []

In [33]:
#  In các cột có dữ liệu bị mất
missing_columns = data1.columns[data1.isnull().any()]
print("\nCác cột có dữ liệu bị mất:")
print(missing_columns)

#  Xử lý dữ liệu bị mất theo các phương pháp khác nhau

#  Loại bỏ các hàng có giá trị bị thiếu
data1_dropna = data1.dropna()
print("\nKích thước dữ liệu sau khi loại bỏ các hàng có giá trị bị thiếu:", data1_dropna.shape)

# Thay thế giá trị bị thiếu bằng giá trị trung bình (nếu là kiểu số)
data1_fillna_mean = data1.copy()
for col in missing_columns:
    if data1[col].dtype in ['float64', 'int64']:
        data1_fillna_mean[col] = data1[col].fillna(data1[col].mean())
print("\nKích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị trung bình:", data1_fillna_mean.shape)

#  Thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất (mode)
data1_fillna_mode = data1.copy()
for col in missing_columns:
    data1_fillna_mode[col] = data1[col].fillna(data1[col].mode()[0])
print("\nKích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất:", data1_fillna_mode.shape)

Các cột có dữ liệu bị mất:
Index(['ADDRESSLINE2', 'STATE', 'POSTALCODE', 'TERRITORY'], dtype='object')

Kích thước dữ liệu sau khi loại bỏ các hàng có giá trị bị thiếu: (147, 25)

Kích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị trung bình: (2823, 25)

Kích thước dữ liệu sau khi thay thế giá trị bị thiếu bằng giá trị thường xuyên nhất: (2823, 25)